@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  height: 75vh;
  margin-left: 20rem;
  width: 70vw; 
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 11rem;
}

#root, html, body {
  height: 100%
}

html {
  scroll-behavior: smooth;
 }